#myCarousel {
	display: flex;
}

.carousel-inner .item div {
	display: flex;
}

.carousel-inner .item div img {
	width: calc(100%/3);
	height: auto;
}

.prev, .next {
	cursor: pointer;
	width: 50px;
	background-color: gray;
	color: white;
	border: 0;
}
